*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Poppins", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--grey-500);
  background-color: var(--white);
}

main {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-300) var(--spacing-200);
  max-width: 74rem;
  margin: 0 auto;
}

.titles {
  text-align: center;
  max-width: 33rem;
  margin: 0 auto;
}

.titles h1 {
  font-weight: var(--fw-extralight);
  font-size: clamp(var(--text-lg), 4vw, var(--text-xl));
}

.titles h2 {
  font-weight: var(--fw-semibold);
  font-size: clamp(var(--text-lg), 4vw, var(--text-xl));
}

.title-description {
  padding-block: var(--spacing-75);
  font-size: var(--text-body);
}

.card-grid {
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "supervisor" "builder" "karma" "calculator";
}

@media (min-width: 48rem) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". supervisor supervisor ." "builder builder karma karma" ". calculator calculator .";
  }

  @media (min-width: 64rem) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: ". builder ." "supervisor builder calculator" "supervisor karma calculator" ". karma .";
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-top: 5px solid;
  border-radius: 5px;
  padding: var(--spacing-200);
  box-shadow: 0 10px 25px hsl(0, 0%, 0%, 0.08), 0 6px 10px hsl(0, 0%, 0%, 0.04);
  background-color: var(--white);
}

.card.supervisor {
  border-color: var(--cyan);
  grid-area: supervisor;
}
.card.team-builder {
  border-color: var(--red);
  grid-area: builder;
}
.card.karma {
  border-color: var(--orange);
  grid-area: karma;
}
.card.calculator {
  border-color: var(--blue);
  grid-area: calculator;
}

.card h3 {
  font-size: var(--text-md);
  font-weight: var(--fw-semibold);
}

.card p {
  color: var(--grey-400);
  font-size: var(--text-sm);
  text-wrap: wrap;
  margin-top: var(--spacing-25);
}

.card img {
  width: 4rem;
  height: 4rem;
}

.icon {
  align-self: flex-end;
  margin: var(--spacing-300) 0 var(--spacing-100);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
